.DS_Store
npm-debug.log
/bower_components
/node_modules
/test/coverage

## The following are not ignored but are marked as "unchanged"
## To view a list of files marked "assume-unchanged": git ls-files -v
# /dist
